.nav:hover{
 text-decoration: underline;
 color:#4F002F ;
}
.nav{
  color:#B8B8B8;
}

.sign:hover;{
	color: #4F002F;
}
.bout{
 text-align: center;
 padding-top: 20px;

}
.pp{
	text-align: center;
	color: black;
	font-weight: 100;
	font-size: 16px;
 padding-top: 20px;
 padding-bottom: 12px;

}