/*****************************************
SimpleCart(js)
Written By Brett Wejrowski
Demo Site by Stephen McKinney

The Style's for the SimpleCart(js) are in
the Header of index.html. The following
Just makes the rest of the site look
pretty
*****************************************/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body { line-height: 1;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
:focus { outline: 0;}
ins { text-decoration: none;}
del { text-decoration: line-through;}
table { border-collapse: collapse; border-spacing: 0;}

#footer{
	clear:both;
	padding-top:100px;
	text-align:center;
	font:normal 14px Helvetica, Arial, sans-serif;
	color:#e7ebf0;
	opacity:.999;
}
#footercart{
	clear:both;
	padding-top:100px;
	
	font:normal 14px Helvetica, Arial, sans-serif;
	
}


body{
	font:bold 12px Helvetica,Arial,sans-serif;
}
#content{
	width: 1200px;
	margin:90px auto 20px auto;
}
#header{
	padding:20px 0;
	margin-left:20px;
	
	width:770px;
	float:left;
}
.bd{
	border:1px solid  #B8B8B8;
	padding: 10px;
}
.bd:hover{
	background-color: rgba(86,24,40,0.1);
	opacity: 0.1px;
	box-shadow: 20px 20px 20px rgba(192,209,213,0.3);
}
.bds{
	border:1px solid  #B8B8B8;
	padding: 10px;
}
.bds:hover{
	background-color: rgba(192,209,213,0.3);
	opacity: 0.1px;
}
h2{
	font-size:22px;
	color:#429132;
}
#catalog{
	width:770px;
	margin:30px 0 0 10px;
	float:left;
}
#catalog li{
	float:left;
	margin:25px 25px 75px 25px;
}
#catalog li img{
	display:block;
}
.price{
	display:block;
	float:right;
	width:48px;
	height:21px;
	line-height:20px;	
	border-radius: 3px;
	font-size:15px;
	font-weight:lighter;
}
.imgs{
	height: 280px;
	width: 310px;
}
.imgs:hover{
  opacity: 0.5;
  background-color: rgba(86,24,40,1);
}
b{
	float:left;
	font-size:15px;
	color:#333;
}
b a{
	font-size:12px;
	color:#c23f26;
}

#sidebar{
	float:right;
	margin-right:5px;
	width:300px;
	margin-top:-70px;
	color: #0B4C5F;
}
.like{
	width: 250px;
	height: 200px;
}
#left .simpleCart_items{
	width: 700px;
	padding-left: 14px;
}
#sidebar a{
	font-size:11px;
}
#sidebar a.simpleCart_checkout,
.checkoutEmptyLinks a.simpleCart_checkout{
	display:-moz-inline-box;
	display:inline-block;
	
	overflow:hidden;
	margin-left:100px;
	vertical-align:middle;
	color: black;
	font-size:20;
}
a.btnCheckout:hover{
	background-position:87px 0;
}

h3{
	font-size:22px;
	color:#c23f26;
	padding-bottom:4px;
	margin-bottom:9px;
	border-bottom:1px dashed #d1d4d5;
}

/*************************
my cart page
*************************/
.alsoContainer{
	float:left;
	clear:left;
	padding:15px 0;
}
.alsoInfo,
.alsoImage,
.alsoPrice{
	float:left;
	color: #0B4C5F;
}
.alsoImage{
	margin-right:8px;
}
.alsoInfo{
	margin-right:9px;
	width:90px;
}
#sidebar .alsoContainer a{
	color:#c23f26;
}
.alsoPrice{
	padding-left: 18px;
	text-align: center;
	font-size:12px;
  font-family: Arial;
}
.checkoutEmptyLinks{
	float:left;
	clear:left;
	width:500px;
	padding-left:221px;
}
.checkoutEmptyLinks a{
	color:#000;
	font-size:11px;
}
/*************************
Top Frame
*************************/

#topFrame{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:32px;
	/*background:url(images/greenBG.gif) repeat-x;*/
	z-index:100;
	overflow:hidden;
	text-indent:50px;
	
}
#topFrame a{
	color:#fff;
	font-weight:bold;
	line-height:32px;
}