#content{
    padding-left: 35px;
    width:1200px;
    position:relative;
}
#wrapper{
    padding-bottom: 20px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
 border: none;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    overflow:hidden;
}
#steps{
    width:1200px;
    overflow:hidden;
}
.step{
    float:left;	
}
#navigation{   
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-bottom-left-radius:10px;
    -webkit-border-bottom-right-radius:10px;
   
}
#navigation ul{
    list-style:none;
	float:left;
	margin-left:22px;
}
#navigation ul li{
	float:left;
    border-right:1px solid #ccc;
    border-left:1px solid #ccc;
    position:relative;
	margin:0px 2px;
}
#navigation ul li a{
  border:1px solid;
    background-color:#0B4C5F;
    color: #E8E8E8;
    padding :5px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 4px;
    
}
#navigation ul li a:hover,
#navigation ul li.selected a{
   color:white;
    background-color:#4F002F;
}
span.checked{
    background:transparent url(../images/checked.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
span.error{
    background:transparent url(../images/error.png) no-repeat top left;
    position:absolute;
    top:0px;
    left:1px;
    width:20px;
    height:20px;
}
#steps form fieldset{
    border:none;
    padding-bottom:20px;
}

#steps form p{
    float:left;
    clear:both;
    background-color:#f4f4f4;
    border:1px solid #fff;
    width:400px;
    padding:10px;
    margin-left:100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
    box-shadow:0px 0px 3px #aaa;
}
#steps form p label{
    width:160px;
    float:left;
    text-align:right;
    margin-right:15px;
    line-height:26px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
    font-weight:bold;
}
#steps form input:not([type=radio]),
#steps form textarea,
#steps form select{
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    outline: none;
 
    float:left;
}

#steps form input:focus{
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;

}
#steps form p.submit{
    background:none;
    border:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow:none;
}
#steps form button {

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   
border:1px solid;
    background-color:#0B4C5F;
    color: #E8E8E8;
    padding :5px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 4px;
    
    -moz-box-shadow:0px 0px 3px #aaa;
    -webkit-box-shadow:0px 0px 3px #aaa;
   
}
#steps form button:hover {
   color:white;
    background-color:#4F002F;
}